<link rel="stylesheet" type="text/css" href="/css/hospital/detail.css"/>

<input type="hidden" id="hospitalIdx" value="<%= hospitalIdx %>"/>
<input type="hidden" id="latitude" value="<%= item.latitude %>"/>
<input type="hidden" id="longitude" value="<%= item.longitude %>"/>
<input type="hidden" id="title" value="<%= item.title %>"/>

<section class="hospital-detail-area">
	<h2 class="detail-title">
		<%= item.title %>
	</h2>

	<div class="title-bottom-div">
		<div class="option">
			<span>스크랩</span>
			<span class="number" id="scrap"><%= item.scrap %></span>
			<span>명</span>
		</div>

		<div class="option">
			<span>평점</span>
			<span class="number">3.5</span>
			<span>/ 5.0</span>
		</div>
	</div>

	<button id="scrapHospital" type="button" class="detail-scrap-button" style="float: right;">
		♥ 스크랩
	</button>

	<%
	var images = item.images.split(",");
	%>

	<div class="detail-info">
		<div class="info-left">
			<div class="main-img">
				<div class="detail-img" style="background:url('<%= images[0] %>')"></div>
			</div>
			<ul class="sub-img-list">
				<%
				for(var i = 0; i < images.length; i++) {
				%>
				<li>
					<img src="<%= images[i] %>"/>
				</li>
				<%
				}
				%>
			</ul>
		</div>
		<div class="info-right">
			<table class="detail-table" cellpadding="0" cellspacing="0">
				<tr>
					<td class="detail-label">진료동물</td>
					<td>
						<ul class="animal-type-list">
							<li>
								<i class="animal-type animal-type-1"></i>
							</li>
							<li>
								<i class="animal-type animal-type-3"></i>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="detail-label">전화번호</td>
					<td><span id="phone"><%= item.phone %></span></td>
				</tr>
				<tr>
					<td class="detail-label">주　　소</td>
					<td><span id="address"><%= item.address %></span></td>
				</tr>
				<tr>
					<td class="detail-label">진료시간</td>
					<td>
						<p class="desc">매일 <%= item.time_weekday %></p>
						<p class="desc">공휴일 <%= item.time_holiday %></p>
						<p class="desc">휴무 <%= item.time_closed === null ? '없음' : item.time_closed %></p>
					</td>
				</tr>
				<tr>
					<td class="detail-label">홈페이지</td>
					<td>
						<%
						if(item.site === null) {
						%>
						-
						<%
						}
						else {
						%>
						<a href="<%=item.site%>" target="_blank"><%=item.site%></a>
						<%
						}
						%>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<hr class="detail-hr"/>

	<div class="detail-area">
		<div class="detail-area-left">위치</div>
		<div id="map" class="detail-area-right"></div>

		<div style="text-align: right;">
			<button type="button" class="detail-scrap-button">
				지도 보내기
			</button>
		</div>
	</div>

	<hr class="detail-hr"/>

	<div class="detail-area">
		<div class="detail-area-left">후기</div>
		<div class="detail-area-right" style="height: auto;">
			<table class="detail-board" cellspacing="0" cellpadding="0">
				<thead>
				<tr>
					<th>No.</th>
					<th>내용</th>
					<th>별점</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>1</td>
					<td>
						<a class="board-link" href="#">후기후기</a>
					</td>
					<td>★★★★☆</td>
					<td>l2****</td>
					<td>18.10.09</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div style="text-align: right;">
		<button type="button" class="detail-scrap-button" id="writeBoard">
			후기작성
		</button>
	</div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/hospital/detail.js"></script>