<link rel="stylesheet" type="text/css" href="/css/hospital/list.css"/>

<input type="hidden" id="type" value="<%=type%>" />
<input type="hidden" id="localType" value="<%=localType%>" />
<input type="hidden" id="subLocalText" value="<%=subLocalText%>" />
<input type="hidden" id="filter" value="<%=filter%>" />

<!--동물,지역 선택 부분 <div id="select-section"> -->
<section class="one-section" style="margin-top: 50px;">
	<h3 class="one-section-title">병원선택</h3>
	<section class="box-area">
		<h4 class="select-animal-title">동물선택</h4>
		<ul class="animal-list">
			<li data-type="0">전체</li>
			<li data-type="1">거북이</li>
			<li data-type="2">고슴도치</li>
			<li data-type="3">앵무새</li>
			<li data-type="4">토끼</li>
			<li data-type="5">패럿</li>
			<li data-type="6">햄스터</li>
		</ul>

		<h4 class="select-local-title">지역선택</h4>

		<ul class="local-list">
			<li data-type="-1">전체</li>
			<li data-type="0">서울</li>
			<li data-type="1">경기</li>
			<li data-type="2">인천</li>
			<li data-type="3">강원</li>
			<li data-type="4">대전</li>
			<li data-type="5">세종</li>
			<li data-type="6">충남</li>
			<li data-type="7">충북</li>
			<li data-type="8">부산</li>
			<li data-type="9">울산</li>
			<li data-type="10">경남</li>
			<li data-type="11">경북</li>
			<li data-type="12">대구</li>
			<li data-type="13">광주</li>
			<li data-type="14">전남</li>
			<li data-type="15">전북</li>
			<li data-type="16">제주</li>
		</ul>

		<ul id="subLocalList" class="sub-local-list" style="display: none;"></ul>
	</section>
</section>

<div class="search-div">
	<button class="search-bt" type="button" onclick="search()">검색</button>
</div>

<section class="one-section" style="margin-top: 50px;">

	<div>
		<h3 class="one-section-title">검색결과</h3>
		<select id="filter" class="search-filter">
			<option value="id">최신등록</option>
			<option value="title">이름</option>
			<option value="scrap">스크랩</option>
		</select>
	</div>
	<section class="box-area" style="text-align: center; position: relative; top: -20px;">
		<%
		for(var i=0; i<items.length ;i++) {
			%>
		<div class="hospital-item" data-hospital-id="<%=items[i].idx%>">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background: url('<%=items[i].images.split(',')[0]%>')"></div>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value"><%=items[i].title%></span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value address"><%=items[i].address%></span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value"><%=items[i].phone%></span>
					</div>
					<br/>
					<div class="desc animal-target-list">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<%
 						var animals = items[i].animals.split(',');

 						for(var j=0; j<animals.length ;j++) {
 							%>
						<li>
							<i class="animal-type animal-type-<%=animals[j]%>"></i>
						</li>
						<%
						}
 						%>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<%
		}
 		%>
	</section>
	<div class="pagination">
		<%
		var countList = 12;
		var countPage = 5;
		var totalPage = parseInt(count / countList);

		if (parseInt(count % countList) > 0) {
			totalPage++;
		}

		if (totalPage < page) {
			page = totalPage;
		}
		var startPage = parseInt(((page - 1) / 10) * 10 + 1);
		var endPage = startPage + countPage - 1;

		if (endPage > totalPage) {
			endPage = totalPage;
		}

		if (startPage > 1) {
		%><a href="?page=1&type=<%=type%>&localType=<%=localType%>&subLocalText=<%=subLocalText%>&filter=<%=filter%>">처음</a><%
		}

		if (page > 1) {
		%><a href="?page=<%=(page - 1)%>&type=<%=type%>&localType=<%=localType%>&subLocalText=<%=subLocalText%>&filter=<%=filter%>">이전</a><%
		}

		for (var iCount = startPage; iCount <= endPage; iCount++) {
		if (iCount == page) {
		%><b><%=iCount%></b><%
		} else {
		%>
		<%=iCount%>
		<%
		}
		}

		if (page < totalPage) {
		%><a href="?page=<%=(page + 1) %>&type=<%=type%>&localType=<%=localType%>&subLocalText=<%=subLocalText%>&filter=<%=filter%>">다음</a><%
		}

		if (endPage < totalPage) {
		%><a href="?page=<%=totalPage%>&type=<%=type%>&localType=<%=localType%>&subLocalText=<%=subLocalText%>&filter=<%=filter%>">끝</a><%
		}
		%>
	</div>
</section>

<script type="text/javascript" src="/js/hospital/list.js"></script>