<link rel="stylesheet" type="text/css" href="css/main.css"/>

<%
for (var i = 0; i < hospitalList.length; i++) {
%>
<div data-hospital-idx="<%= hospitalList[i].idx %>">
	<input type="hidden" name="title" value="<%= hospitalList[i].title %>"/>
	<input type="hidden" name="animals" value="<%= hospitalList[i].animals %>"/>
	<input type="hidden" name="address" value="<%= hospitalList[i].address %>"/>
	<input type="hidden" name="phone" value="<%= hospitalList[i].phone %>"/>
	<input type="hidden" name="latitude" value="<%= hospitalList[i].latitude %>"/>
	<input type="hidden" name="longitude" value="<%= hospitalList[i].longitude %>"/>
</div>
<%
}
%>

<div class="top" style="margin-top: 50px; margin-bottom: 50px;">
	<section class="body-left">
		<ul class="animal-list">
			<li data-type="1">
				<i class="animal-type animal-type-1"></i>
				<div class="animal-layer animal-layer-1">거북이</div>
			</li>
			<li data-type="2">
				<i class="animal-type animal-type-2"></i>
				<div class="animal-layer animal-layer-2">고슴도치</div>
			</li>
			<li data-type="3">
				<i class="animal-type animal-type-3"></i>
				<div class="animal-layer animal-layer-3">앵무새</div>
			</li>
			<li data-type="4">
				<i class="animal-type animal-type-4"></i>
				<div class="animal-layer animal-layer-4">토끼</div>
			</li>
			<li data-type="5">
				<i class="animal-type animal-type-5"></i>
				<div class="animal-layer animal-layer-5">페럿</div>
			</li>
			<li data-type="6">
				<i class="animal-type animal-type-6"></i>
				<div class="animal-layer animal-layer-6">햄스터</div>
			</li>
		</ul>
	</section>
	<section id="map"></section>
</div>

<div class="content-area">
	<div>
		<h3>MAGAZINE</h3>
		<a href="/magazine/list" class="show-more">더보기 +</a>
	</div>
	<div class="magazine-area owl-carousel owl-theme" id="magazineContainer">
		<%
		for(var i = 0; i < magazineList.length; i++) {
		%>
		<div class="item" data-magazine-idx="<%= magazineList[i].idx %>">
			<div class="item-top">
				<img class="magazine-img" src="<%= magazineList[i].thumbnail %>"/>
			</div>
		</div>
		<%
		}
		%>
	</div>
</div>

<div class="content-area">
	<div>
		<h3>SHOP</h3>
		<a href="/shop/list" class="show-more">더보기 +</a>
	</div>
	<div class="shop-area owl-carousel owl-theme" id="shopContainer">
		<%
		for( var i = 0; i < shopList.length; i++){
		%>
		<div class="item" data-link="<%= shopList[i].site %>">
			<div class="item-top">
				<img class="shop-img" src="<%= shopList[i].image %>"/>
			</div>
		</div>
		<%
		}
		%>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/main.js"></script>