<link rel="stylesheet" type="text/css" href="/css/user/mypage.css"/>

<section class="mypage-left">
	<h3 class="menu-title">마이페이지</h3>
	<hr class="menu-separator"/>

	<ul class="mypage-menu-list">
		<li><a href="#">나의 병원</a></li>
		<li><a href="#">└ 병원 후기</a></li>
		<li><a href="#">나의 매거진</a></li>
		<li><a href="#">나의 Q&A</a></li>
	</ul>
	<hr class="menu-separator"/>

	<ul class="mypage-menu-list">
		<li><a href="#">회원 정보 수정</a></li>
	</ul>
</section>

<section class="hospital-detail-area">
	<h2 class="detail-title">
		<span class="black"><%= user.nick %></span> 님 환영합니다.
	</h2>

	<div class="user-info">
		<p>
			<span class="user-label">아이디</span>
			<span><%= user.id %></span>
		</p>
		<p>
			<span class="user-label">이름</span>
			<span><%= user.name %></span>
		</p>
		<p>
			<span class="user-label">닉네임</span>
			<span><%= user.nick %></span>
		</p>
		<p>
			<span class="user-label">이메일</span>
			<span><%= user.email %></span>
		</p>
		<p>
			<span class="user-label">연락처</span>
			<span><%= user.phone %></span>
		</p>
	</div>

	<div class="title-bottom-div"></div>

	<div class="detail-info">
		<div>
			<h3 class="detail-info-title">나의 병원</h3>
			<a class="detail-more" href="#">더보기 <span>+</span></a>

			<hr class="detail-hr"/>

			<div style="width: 100%; display: inline-block;">
				<div class="hospital-item" data-hospital-id="1">
					<div class="hospital-area">
						<div class="item-top">
							<div class="img">안양비산동물병원</div>
						</div>
						<div class="item-bottom">
							<div class="desc">
								<span class="desc-label">이름</span>
								<span class="desc-value">안양비산동물병원</span>
							</div>
							<div class="desc">
								<span class="desc-label">주소</span>
								<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
							</div>
							<div class="desc">
								<span class="desc-label">번호</span>
								<span class="desc-value">031-446-6575</span>
							</div>
							<br/>
							<div class="desc">
								<span class="desc-label">대상</span>
								<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h3 class="detail-info-title">나의 매거진</h3>
			<a class="detail-more" href="#">더보기 <span>+</span></a>

			<hr class="detail-hr"/>

			<div style="width: 100%; display: inline-block;">
				<div class="hospital-item" data-magazine-idx="1">
					<div class="hospital-area">
						<div class="item-top">
							<div class="img">매거진~</div>
						</div>
						<button type="button" class="magazine-scrap-button">♥ 스크랩</button>
					</div>
				</div>
			</div>
		</div>

		<hr class="detail-hr"/>

		<h3 class="detail-info-title">나의 Q&A</h3>
		<a class="detail-more" href="#">더보기 <span>+</span></a>
		<hr class="detail-hr"/>

		<table class="qna-table" cellpadding="0" cellspacing="0">
			<thead>
			<th>카테고리</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
			<th>조회수</th>
			</thead>
			<tbody>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/user/mypage.js"></script>